body {
    margin-left: 36px;
    margin-top: 20px;
    background-color: #FFFFFF;
    color: #440000;
}

.site-logo {
    height: 20px;
    position: fixed;
    top: 10px;
    left: 10px;
    cursor: pointer;
    z-index: 1000;
}