<!DOCTYPE html>
<html>
    <head>
        <link rel = "stylesheet" href = "/style.css"> 

        <!-- This is where the page title goes. -->
        <title>
            Template 
        </title>


        <link rel = "icon" type = "image/png" href = "/logo.png"> <!-- This is the logo in the page title. -->
    </head>
    <body>

        <div id = "header-placeholder"></div>

        <!-- This is for text. -->

        <h1>
            This is a template page with sample text.
        </h1>

        <p>
            This is a template page, with some more sample text.
            <br>
            If you are seeing this on a different page, then the page is still in need of an update.
        </p>

        <!-- End text here. -->

        <script src = "/load-header.js"></script>

    </body>

</html>